<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Longmire Enterprises</title>
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/controllers.js"></script>
</head>
<body>
	<div ng-controller="MyController">
		<h1>{{author.name}}</h1>
		<p>{{author.title + ', ' + author.company}}</p>
	</div>

	<input type="text" ng-model="name">
	<h1>{{ name }}</h1>
</body>
</html>